/* -*- coding: utf-8 -*- */

@charset "utf-8";

.clear {
  clear: both;
}

* {
  -webkit-touch-callout: none;
}

html {
  font-family: Arial, Verdana, sans-serif;
  font-size: 62.5%;
}

body {
  min-width: 1024px;
  background-color: #ccc;
  text-align: center;
}

#wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;
  text-align: left;
}

#main {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

#main .date {
  height: auto;
  padding: 0 0 20px 0;
}

#main .date-content {
  min-height: 180px;
  background-color: #eee;
  padding: 18px 25px 0 27px;
  border-radius: 18px;
}

#main .date-title {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0 0 10px 0;
}

#main .date-thumbnail {
  padding: 5px 0 0 0;
  margin-right: -40px;
}

#main .thumbnail-wrapper {
  float: left;
  margin-right: 45px;
  margin-bottom: 16px;
  width: 192px;
}

#main .thumbnail-img {
  margin: 0 auto;
  display: block;
  overflow: hidden;
  width: 192px;
  height: 192px;
}

#main .thumbnail-img a {
  display: block;
  height: 100%;
  width: 100%;
}

#main .thumbnail-title {
  float: left;
  font-size: 1.3rem;
  color: #777;
  padding: 0.3rem 0 0 0.2rem;
}

#main .disable-button {
  float: right;
  display: inline-block;
}

#disable-submit-button {
  width: 20px;
  height: 20px;
  border: 0;
  opacity: 0.4;
  background: url(/img/trash.png) left top no-repeat;
  cursor: pointer;
}

#disable-submit-button:hover {
  opacity: 1.0;
}

button {
  border:none;
  background-color:#eee;
}

/* detail.html */

#control {
  height: 20px;
  margin-bottom: 10px;
}

.detail-content {
  background-color: #eee;
  padding: 20px 20px 17px;
  text-align: center;
  border-radius: 18px;
}

.detail-img {
  width: 100%;
}

#reel-scale-plus {
  width: 40px;
  height: 40px;
  margin-right: 10px;
	
  background: url(../img/scale-plus.png) no-repeat;

  float: right;
}

#reel-scale-plus:hover {
  background: url(../img/scale-plus-hover.png) no-repeat;
}

#reel-scale-minus {
  width: 40px;
  height: 40px;
	
  background: url(../img/scale-minus.png) no-repeat;

  float: right;
}

#reel-scale-minus:hover {
  background: url(../img/scale-minus-hover.png) no-repeat;
}

#prev {
  float: left;
  display: block;
  width: 0;
  height: 0;
  border-right: 20px solid #eee;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#prev:hover {
  display: block;
  width: 0;
  height: 0;
  border-right: 20px solid #888;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#next {
  float: right;
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid #eee;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#next:hover {
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid #888;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#back {
  margin-bottom: 20px;
  width: 0;
  height: 0;
  color: black;
  display: block;
  border-right: 20px solid #eee;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  float: left;
}

#back:hover {
  margin-bottom: 20px;
  width: 0;
  height: 0;
  color: black;
  display: block;
  border-right: 20px solid #888;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* footer */

footer {
  color: #777;
  margin: 0 auto 20px;
  padding: 15px 0;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
}

footer a {
  color: #777;
  padding: 1px;
  text-decoration: underline;

  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  color: #222;
}

/* reponsive */

@media screen and (max-width: 767px), only screen and (max-device-width: 480px), only screen and (min-device-width: 640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {

body {
  min-width: 0;
}

#main {
  width: auto;
  padding: 5px 5px 0;
}

#main .date-content {
  padding-left: 20px;
  padding-bottom: 3px;
}

.detail-img {
  pointer-events: none;
}

footer {
  font-size: 1.8rem;
}

}