# Set location of the virtualenv activate file.
# If you do not use virtualenv, delete this file (virtualenv.ini).
# Must not add quotation characters to the file path.

[virtualenv]
VIRTUALENV_ACTIVATE=/home/davdav/.virtualenvs/davdav/bin/activate_this.py