<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{{ title }} | Davdav</title>

    <link type="text/css" href="/css/main.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/img/icon.png">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>
      <!--
      $(document).ready(function() {
          $(document).bind("contextmenu",function(e) {
              return false;
          });
      });
      -->
    </script>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->   
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <a id="back" href="/"></a>
        <div class="detail-content">
          <a href="{{ href }}" target="_blank" onclick="return false"><img src="{{ src }}" class="detail-img"></a>
        </div>
        
        <div>
          <br>
          <a id="prev" href="{{ prev_ref }}"></a><a id="next" href="{{ next_ref }}"></a>
        </div>
        
      </div>

      <footer>
        <p>
          Powered by <a href="https://github.com/xcoo/davdav" target = "_blank">Davdav</a>. <a href="http://www.xcoo.jp/" target = "_blank">Xcoo, Inc.</a>
        </p>
      </footer>
    </div>
  </body>
</html>
