<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{{ title }}</title>

    <link type="text/css" href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <a id="back" href="/"></a>
        <div class="detail-content">
          <a href="{{ href }}" target="_blank"><img src="{{ src }}" class="detail-img"></a>
        </div>
      </div>
    </div>
  </body>
</html>
