<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{{ title }} | Davdav</title>

    <link type="text/css" href="/css/main.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/img/icon.png">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->   
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <div id="control">
          <a id="back" href="/"></a>
<!--
          <div id="reel-scale-minus"></div>
          <div id="reel-scale-plus"></div>
          <div class="clear"></div>
-->
        </div>

        <div class="detail-content">
          <a href="{{ href }}" target="_blank"><img src="{{ src }}" class="detail-img"></a>
        </div>
        
        <div>
          <br>
          <a id="prev" href="{{ prev_ref }}"></a><a id="next" href="{{ next_ref }}"></a>
        </div>        
      </div>

      {% if footer_enable %}
        {% include 'footer.html' %}
      {% endif %}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <!-- Script for moving to the prev/next page by left or right button -->
    <script>
      $(window).keyup(function(e) {
          switch (e.keyCode) {
          case 37:
              window.location.href = "{{ prev_ref }}";
              break;
          case 39:
              window.location.href = "{{ next_ref }}";
              break;
          }
      });
    </script>​
  </body>
</html>
