<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Davdav</title>

    <link type="text/css" href="/css/main.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/img/icon.png">
    
    <!--Disable right-click, added by maasaamiichii-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(document).bind("contextmenu",function(e){
                return false;
            });
        });
    </script>
    <!--Until Here-->
    
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <div class="autopagerize_page_element">
          {% for dav_date in dav_dates %}
          <div class="date">
            <div class="date-content">
       	      <div class="date-title">{{ dav_date.title }}</div>
              <div class="date-thumbnail">
                {% for dav_img in dav_date.dav_imgs %}
                <div class="thumbnail-wrapper">
                  <div class="thumbnail-img" style="background:url({{ dav_img.src }}) no-repeat center;">
                    <a href="{{ dav_img.href }}"></a>
                  </div>
                  <div class="thumbnail-title">
                     {{ dav_img.title }}
                     
                     <!--Form tag is added by maasaamiichii-->
                     <div class="disable-button">
                     <form action="/disable" method="POST">
                     <input type="hidden" name="file_path" value="{{ dav_img.thumb_path }}"/>
                     <button type="submit">
	                     <span class="changeCursor">
		                     <img src="../img/Trash.png" onmouseover="this.src = '../img/Trash.png';" onmouseout="this.src = '../img/Trash.png';">
		                 </span>
		             </button>
                     </form>
                     </div>
                     <!--Until Here -->
                     
                  </div>
                </div>
                {% endfor %}
                <div class="clear"></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="autopagerize_insert_before"></div>

        {% if prev_page != None %}
        <a id="prev" href="/?page={{ prev_page }}"></a>
        {% endif %}
        
        {% if next_page != None %}
        <a id="next" href="/?page={{ next_page }}" rel="next"></a>
        {% endif %}

        <div class="clear"></div>
      </div>
      
      <!--Copyright is added by maasaamiichii-->
      <footer>
          <p> Copyright &copy;Username All Rights Reserved. &nbsp;|&nbsp; Powered by <a href="https://github.com/xcoo/davdav" target = "_blank">Davdav. Xcoo, Inc.</a>
          </p>
      </footer>
      <!--Until Here-->
    
    </div>
  </body>
</html>
